#include "Signature.h"
#include "SignatureDefinition.h"
#include "SyntheticSignatureDefinition.h"

using namespace llvm;

SyntheticSignatureDefinition::SyntheticSignatureDefinition(LLVMContext &context) {
  <% instructions.each do |i| 
     v = values[i] %>
  addWaveform("<%= i %>", context, new Waveform({{<%= v %>, 0}}));
  <% end %>

  average = new Signature(new Waveform({{32, 0}}));
}

unsigned int SyntheticSignatureDefinition::getPointerSize(void) const {
  return 64;
}
